{
  "directory": "/home/vandelay/invoices",
  "templates": [
    {
      "username": "art.vandelay@vandelayindustries.com",
      "password": "mysupersecretpassword",
      "from": { "name": "Art Vandelay", "address": "art.vandelay@vandelayindustries.com" },
      "to": { "name": "Jerry Seinfeld", "address": "jerry@seinfeld.com" },
      "message": "A copy of the invoice for month {monthNumber} ({monthName}) {year}.\n\nRegards,\n\nVandelay Industries Ltd\nArt Vandelay",
      "subject": "Invoice {year}-{invoiceNumber}"
    }
  ]
}